div {
    width: 365px;
    height: 365px;
    border: 1px solid rgba(41, 126, 64, 1);
    border-radius: 12px;
    background-color: rgba(41, 126, 64, 1);
}

h1 {
    width: 365px;
    height: 365px;
    border: 1px solid rgba(54, 27, 164, 1);
    border-radius: 20px;
    background-color: rgba(54, 27, 164, 1);
    border-left: 826px;
}

h2 {
    width: 365px;
    height: 365px;
    border: 1px solid rgba(142, 40, 119, 1);
    border-radius: 90px;
    background-color: rgba(142, 40, 119, 1);
}
div, h1, h2 {
    display: inline-block;
    
}
body {
    background-color: rgba(218, 165, 32, 1);
    width: 1440px;
    height: 1024px;
    
}
